@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100% /* white */;
    --foreground: 224 72% 5% /* gray-950 */;
    --card: 0 0% 100% /* white */;
    --card-foreground: 224 72% 5% /* gray-950 */;
    --popover: 0 0% 100% /* white */;
    --popover-foreground: 224 72% 5% /* gray-950 */;
    --primary: 33 95% 44% /* amber-600 */;
    --primary-foreground: 48 100% 97% /* amber-50 */;
    --secondary: 220 15% 96% /* gray-100 */;
    --secondary-foreground: 221 40% 11% /* gray-900 */;
    --muted: 220 15% 96% /* gray-100 */;
    --muted-foreground: 220 9% 47% /* gray-500 */;
    --accent: 220 15% 96% /* gray-100 */;
    --accent-foreground: 221 40% 11% /* gray-900 */;
    --destructive: 0 85% 61% /* red-500 */;
    --destructive-foreground: 210 20% 99% /* gray-50 */;
    --border: 220 14% 91% /* gray-200 */;
    --input: 220 14% 91% /* gray-200 */;
    --ring: 33 95% 44% /* amber-600 */;
    --radius: 0.5rem;
}

.dark {
    --background: 224 72% 5% /* gray-950 */;
    --foreground: 210 20% 99% /* gray-50 */;
    --card: 224 72% 5% /* gray-950 */;
    --card-foreground: 210 20% 99% /* gray-50 */;
    --popover: 224 72% 5% /* gray-950 */;
    --popover-foreground: 210 20% 99% /* gray-50 */;
    --primary: 33 95% 44% /* amber-600 */;
    --primary-foreground: 48 100% 97% /* amber-50 */;
    --secondary: 215 28% 17% /* gray-800 */;
    --secondary-foreground: 210 20% 99% /* gray-50 */;
    --muted: 215 28% 17% /* gray-800 */;
    --muted-foreground: 218 11% 65% /* gray-400 */;
    --accent: 215 28% 17% /* gray-800 */;
    --accent-foreground: 210 20% 99% /* gray-50 */;
    --destructive: 0 63% 31% /* red-900 */;
    --destructive-foreground: 210 20% 99% /* gray-50 */;
    --border: 215 28% 17% /* gray-800 */;
    --input: 215 28% 17% /* gray-800 */;
    --ring: 33 95% 44% /* amber-600 */;
}
  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  } */

  /* :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  } */

  /* :root {
    --gradient: #215f00;
    --background: 105 100% 98.38%;
    --foreground: 105 10% 0.76%;
    --muted: 105 10% 91.9%;
    --muted-foreground: 105 5% 41.9%;
    --popover: 105 10% 91.9%;
    --popover-foreground: 105 10% 0.95%;
    --card: 105 10% 91.9%;
    --card-foreground: 105 10% 0.95%;
    --border: 105 15% 89.76%;
    --input: 105 15% 89.76%;
    --primary: 105 100% 19%;
    --primary-foreground: 105 2% 91.9%;
    --secondary: 105 5% 95.95%;
    --secondary-foreground: 105 7% 11.9%;
    --accent: 105 5% 95.95%;
    --accent-foreground: 105 7% 11.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 105 100% 19%;
    --radius: 0.5rem;
  }
  .dark {
    --gradient: #FDFC47;
    --background: 63 63.699999999999996% 5.12%;
    --foreground: 63 9.8% 98.2%;
    --muted: 63 98% 14.72%;
    --muted-foreground: 63 9.8% 56.4%;
    --popover: 63 45.4% 8.32%;
    --popover-foreground: 63 9.8% 98.2%;
    --card: 63 45.4% 8.32%;
    --card-foreground: 63 9.8% 98.2%;
    --border: 63 98% 14.72%;
    --input: 63 98% 14.72%;
    --primary: 63 98% 64%;
    --primary-foreground: 63 9.8% 6.4%;
    --secondary: 63 98% 14.72%;
    --secondary-foreground: 63 9.8% 98.2%;
    --accent: 63 98% 14.72%;
    --accent-foreground: 63 9.8% 98.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 63 9.8% 98.2%;
    --ring: 63 98% 64%;
  } */

  /* :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  } */

  /* :root {
    --gradient: #c21500;
    --background: 7 65% 3.04%;
    --foreground: 7 10% 96.9%;
    --muted: 7 50% 11.4%;
    --muted-foreground: 7 10% 53.8%;
    --popover: 7 45% 4.94%;
    --popover-foreground: 7 10% 96.9%;
    --card: 7 45% 4.94%;
    --card-foreground: 7 10% 96.9%;
    --border: 7 50% 11.4%;
    --input: 7 50% 11.4%;
    --primary: 7 100% 38%;
    --primary-foreground: 7 10% 96.9%;
    --secondary: 7 50% 11.4%;
    --secondary-foreground: 7 10% 96.9%;
    --accent: 7 50% 11.4%;
    --accent-foreground: 7 10% 96.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 7 10% 96.9%;
    --ring: 7 100% 38%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  } */

  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  .character_name{
    -webkit-text-stroke: 0.2px hsl(var(--primary));
  }

  .card.image-full::before,
  .card.image-full::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* @apply bg-gradient-to-r from-base-100 to-base-300; */
    @apply bg-accent;
    /* background-color: black; */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
  }

  .card.image-full:hover::before,
  .card.image-full:hover::after {
    opacity: 0.7;
  }

  .card-new::before,
  .card-new::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* @apply bg-gradient-to-r from-primary to-secondary; */
    @apply bg-accent;
    /* background-color: black; */
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
  }

  .box-shadow {
    box-shadow: 0 0 10px 6px white inset;
  }

  .box-shadow img {
    position: relative;
    z-index: -1;
  }
}